/* Webfont: Brewery-Light */
@font-face {
    font-family: 'Brewery';
    src: url('../fonts/Brewery-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Brewery-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Brewery-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Brewery-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Brewery-Light.svg#Brewery-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* Webfont: Brewery-Regular */
@font-face {
    font-family: 'Brewery';
    src: url('../fonts/Brewery-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Brewery-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Brewery-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Brewery-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Brewery-Regular.svg#Brewery-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Brewery-Medium */
@font-face {
  
    font-family: 'Brewery';
    src: url('../fonts/Brewery-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Brewery-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Brewery-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Brewery-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Brewery-Medium.svg#Brewery-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
/* Webfont: Brewery-Bold */
@font-face {
    font-family: 'Brewery';
    src: url('../fonts/Brewery-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Brewery-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Brewery-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Brewery-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Brewery-Bold.svg#Brewery-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Brewery-ExtraBold */
@font-face {
    font-family: 'Brewery';
    src: url('../fonts/Brewery-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Brewery-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Brewery-ExtraBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Brewery-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Brewery-ExtraBold.svg#Brewery-ExtraBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Respira-Black */
@font-face {
    font-family: 'Respira';
    src: url('../fonts/Respira-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Respira-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Respira-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Respira-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Respira-Black.svg#Respira-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}