/* Webfont: Brewery-Medium */
@font-face {
    font-family: 'Brewery';
    src: url('../fonts/Brewery-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Brewery-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Brewery-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Brewery-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Brewery-Medium.svg#Brewery-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: Brewery-Medium-Italic */
@font-face {
    font-family: 'Brewery';
    src: url('../fonts/Brewery-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Brewery-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Brewery-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Brewery-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Brewery-MediumItalic.svg#Brewery-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: Respira-Black */
@font-face {
    font-family: 'Respira';
    src: url('../fonts/Respira-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Respira-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Respira-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Respira-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Respira-Black.svg#Respira-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}