@import "variables.styl"

#siteFooter
  margin-top 6rem
  padding-bottom 1.5rem
  text-align center
  border-bottom 1.5rem solid annaRed

p
  vertical-align middle
  
.countdown
  font-family Respira
  color annaRed
  // font-size 3em
  // font-variant-numeric lining-nums  
  // margin-left 0.175rem
  
.footerText
  max-width 60%
  margin-left auto
  margin-right auto
  h3
    margin .5em