@import "variables.styl"

#siteFooter
  margin-top 6rem
  padding-bottom 1.5rem
  text-align center
  border-bottom 1.5rem solid annaRed
  
.container
  max-width 320px
  h3
    margin 1em
    &:first-of-type
      margin-bottom 0.5em
  

p
  vertical-align middle
  
.countdown
  font-family Respira
  color annaRed
  font-size 3em
  // font-variant-numeric lining-nums  
  margin-left 0.175rem