@import './variables.styl'

section
  margin-bottom 2rem
  
.interstitial
  width 186px
  display block
  margin 6rem auto 2rem auto
  &.wide
    width 266px
  
ul li
  list-style none
  position relative
  &:before
    content ''
    width .375em
    height .375em
    background annaRed
    transform rotate(45deg)
    position absolute
    top .55em
    left -1.2em

.center
  text-align center
    
.divider 
  width 8em
  margin 5em auto -1em auto
  // background-color blue
  background-image url('../images/underline.gif')
  background-size auto 0.5em
  background-repeat repeat-x
  height 12px
  