@import './variables.styl'

html
  font-size 20px
  line-height 1.45

html, body, h3, h4, h5, h6
  font-family Brewery
  color rgba(0,0,0,0.8)

h1, h2, h3, h4, h5, h6
  text-align center
  font-weight normal
  
h1, h2
  font-family Respira
  color annaRed

  
h1
  margin 1.5rem auto 3rem auto
  font-size 4em
  letter-spacing -0.075rem

h2
  font-size 2em
  
  
@media only screen and (min-width: 768px)
  html
    font-size 24px

  h1
    font-size 6em
  h2
    font-size 3em
