@import './variables.styl'

html
  font-size 20px
  line-height 1.45

html, body, h3, h4, h5, h6
  font-family Brewery
  color rgba(0,0,0,0.8)

h1, h2, h3, h4, h5, h6
  text-align center
  font-weight normal
  
h1, h2
  font-family Respira
  color annaRed
  
h1
  margin 1.5rem auto 3rem auto
  font-size em
  letter-spacing -0.075rem
  padding 0 0.5rem

h2
  font-size 2em
  margin-bottom 2rem
  
h3
  margin-top 3rem
  
a
  font-family Respira
  text-decoration none
  color annaRed
  letter-spacing 0.05em
  // transition all 0.15s
  font-size 0.875em
  background-image url('../images/underline.gif')
  background-repeat repeat-x
  background-size 3px auto
  background-position left 88%
  text-shadow 3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  
  &:hover
    color darkRed
  
@media only screen and (min-width: 768px)
  html
    font-size 24px

  h1
    font-size 5em
  h2
    font-size 3em
