.container
  position relative
  height 600px
  overflow hidden
  background #023370
  display flex
       
.imgWrap
  position relative
  align-self flex-end
  top 190vw
  
.zoetrope
  background url('../images/zoetrope.png')
  background-size 100%
  background-position center
  position relative
  animation spin 136s linear infinite
  width 350vw
  height 350vw
  left -125vw

@media only screen and (min-width: 410px)
  .imgWrap
    top 150vw

  .zoetrope
    width 275vw
    height 275vw
    left -87.5vw

@media only screen and (min-width: 500px)
  .imgWrap
    top 100vw

  .zoetrope
    width 200vw
    height 200vw
    left -50vw

@media only screen and (min-width: 650px)
  .imgWrap
    top 110vw

@media only screen and (min-width: 740px)
  .imgWrap
    top 80vw

  .zoetrope
    width 150vw
    height 150vw
    left -25vw

@media only screen and (min-width: 950px)
  .imgWrap
    top 70vw

  .zoetrope
    width 125vw
    height 125vw
    left -12.5vw

@media only screen and (min-width: 1200px)
  .imgWrap
    top 65vw
    
  .zoetrope
    width 115vw
    height 115vw
    left -7.5vw

@media only screen and (min-width: 1380px)
  .imgWrap
    top 65vw
    
  .zoetrope
    width 110vw
    height 110vw
    left -5vw

@media only screen and (min-width: 1500px)
  .imgWrap
    top 70vw
    
  .zoetrope
    width 110vw
    height 110vw
    left -5vw


@keyframes spin
  0%
    transform rotate(360deg)
  100%
    transform rotate(0deg)
