.container
  position relative
  height 500px
  overflow hidden

.wheel
  position absolute
  top 100%
  left 50%
  width 166%
  height 166vw
  background-image url('../images/zoetrope.png')
  background-size 100% 100%
  background-position center center
  animation spin 30s linear infinite
  
.cover
  width 20%
  height 20vw
  bottom -50%
  left 50%
  transform translatex(-50%)
  background red
  position absolute
  text-align center
  border-radius 50%
  z-index 2

@media only screen and (min-width: 768px)
  .wheel
    position absolute
    top 100%
    left 50%
    width 110%
    height 110vw
    background-image url('../images/zoetrope.png')
    background-size 100% 100%
    background-position center center
    animation spin 30s linear infinite

@keyframes spin
  0%
    transform translatex(-50%) translatey(-50%) rotate(360deg)
  100%
    transform translatex(-50%) translatey(-50%) rotate(0deg)
