@import './variables.styl'

.container
  position relative
  min-height 500px
  height 60vh
  width 100%
  overflow hidden
  // background #023370

.divider
  width 100%
  height 40px
  margin-bottom 200px
  background url('../images/divider-yellow.png')
  background-size auto 100%
  position relative

.sticker
  position absolute
  width 25vh
  height 25vh
  left 50% 
  top 50%
  transform translate(-50%, -50%)
  border-radius 50%
  overflow hidden
  
.stickerBorder
  position absolute
  width 27.75vh
  height 27.75vh
  left 50% 
  top 50%
  border-radius 50%
  transform translate(-50%, -50%)
  background annaRed
  border 1.5px solid black

.stickerBg
  background url('../images/stars.gif')
  background-repeat repeat-x repeat-y
  background-size auto 10vh
  animation spin2 187s linear infinite
  
.stickerImg
  background url('../images/plant-nobg.gif')
  background-size 101.5%

.imgWrap div, .sticker div
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  background-position center center
        
.imgWrap
  position absolute
  width 500vw
  height 500vw
  top 104%
  left 50%
  transform translate(-50%, -50%)
  animation spin 187s linear infinite
    
.stars
  background url('../images/stars.gif')
  background-repeat repeat-x repeat-y
  background-size auto 10vh
  
.zoetrope
  background url('../images/zoetrope.png')
  background-repeat no-repeat
  background-size 125vh


@keyframes spin
  0%
    transform translate(-50%, -50%) rotate(360deg)
  100%
    transform translate(-50%, -50%) rotate(0deg)

@keyframes spin2
  0%
    transform rotate(360deg)
  100%
    transform rotate(0deg)



@media only screen and (min-width: 768px)
  .container
    height 70vh
    
  .stars, .stickerBg
    background-size auto 12vh

  .zoetrope
    background-size 140vh

  .sticker
    width 27vh
    height 27vh

  .stickerBorder
    width 30.5vh
    height 30.5vh
